/******* Common Component Style *******/

.id-section {
    padding-bottom: 30px;
    padding-top: 0;
    position: relative;
}

.full-height {
    height: 100vh;
}

.common-attributes {
    padding-bottom: 0!important;
}

.common-attributes .card-action {
    font-size: 1.0rem!important;
    border-top: 1px solid #ddd!important;
    padding-left: 0!important;
}

.common-attributes .card-title {
    margin-bottom: 0!important;
}

.common-attributes a {
    text-transform: uppercase;
    text-decoration: none!important;
    font-family: sans-serif;
}

.btn-large:hover {
    color: white!important;
}

/*****************************************/

/******* Introduction Component Style *******/

#Introduction {
    background: url("../images/introduction/ujjaval.jpeg") no-repeat top center/cover;
    position: relative;
    height: 100vh;
    background-position-y: 40%;
}

#Introduction .main-container {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#Introduction .container {
    color: white;
    font-weight: 200;
    left: 0;
    position: absolute;
    top: 0;
}

#Introduction h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 45px;
    display: inline-block;
    padding-left: 50px;
    padding-top: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#Introduction .underline {
    border-bottom: 4px solid teal;
}

/*****************************************/

/******* About Component Style *******/

.about-container {
    height: 100vh;
}

.about-container p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

blockquote {
    border-left: 5px solid #795548;
}

.about-container h2 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/*****************************************/

/******* Experience Component Style *******/

.experience-container li {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    list-style-type: disc!important;
    margin-left: 30px;
    padding-bottom: 8px;
    text-align: justify;
}

.experience-container ul {
    padding-top: 20px;
}

.experience-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.experience-header span {
    display: inline-block!important;
    font-weight: normal!important;
    font-size: 20px!important;
    font-family: 'Roboto', sans-serif;
}

.experience-header .card-title {
    float: right!important;
    line-height: 60px!important;
}

.experience-header .align-header {
    line-height: 45px!important;
}

/*******************************************/

/******* Projects Component Style *******/

.project-container .card-action {
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 20px;
}

.project-container .card-content {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.project-container .btn-floating {
    margin-right: 20px!important;
}

.project-container .card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.project-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: justify;
}

.project-container .card-data {
    height: 150px;
}

/*******************************************/

/******* Skills Component Style *******/

.skills-card {
    margin-bottom: 50px;
}

.skills-card h4 {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px!important;
    padding-bottom: 20px;
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 34px!important;
    font-weight: 300;
    text-align: left;
}

.navbar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

}

.skills-card .col img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.skills-navbar ul a {
    font-size: 1.5rem;
    text-decoration: none!important;
    text-align: center;
    display: table-cell;
    text-transform: uppercase;
}

.skills-navbar ul a.active,
.skills-navbar ul a:hover {
    background-color: #008080;
    color: white!important;
}

/*******************************************/

/******* Education Component Style *******/
.education-container {
    padding-bottom: 85px;
}

.education-container li {
    font-size: 1.4rem;
    list-style-type: disc!important;
    padding: 20px 0 40px 10px;
    font-weight: 400;
}

.education-container li span {
    float: right;
    font-weight: 400;
}

/*******************************************/

/******* Certification Component Style *******/
.certificate-container {
    padding-bottom: 85px!important;
}

.certificate-container p {
    padding-top: 10px;
    text-align: justify;
    font-size: 1.4rem;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

/*******************************************/

/******* Contact Component Style *******/
.contact-info {
    padding-bottom: 230px;
    padding-left: 40px!important;
}

.contact-info div {
    width:70%;
    display: inline-block;
    padding-bottom: 20px;
}

.contact-info .teal-text {
    padding-left: 20px!important;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    vertical-align:middle;
    text-align:center;
}

.contact-info .btn-floating.btn-large {
    padding-top: 7px!important;
}

/*******************************************/

@media all and (max-width: 1024px) {
    #Introduction h2 {
        font-size: 42px!important;
    }

    .skills-navbar {
        display: none;
    }

    .skills-card .brown-text {
        font-size: 27px!important;
    }

    .project-container .card-title {
        font-size: 24px;
    }

    .project-container p {
        font-size: 18px;
    }

    .project-container .card {
        display: flex;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 993px) {
    .container {
        margin: 0 auto;
    }

    #Introduction h2 {
        font-size: 38px!important;
    }
}

@media all and (max-width: 768px) {
    .about-container .brown-text {
        font-size: 25px!important;
    }

}

@media all and (max-width: 600px) {
    #Introduction {
        background-position-x: 53%!important;
    }

    .about-container {
        padding: 0 30px 100px 30px!important;

    }

    #Introduction h2 {
        font-size: 20px!important;
        padding-left: 0!important;
    }

    .experience-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .experience-header .card-title {
        font-size: 18px!important;
    }

    .experience-container li {
        font-size: 15px!important;
        margin-left: 13px!important;
    }

    .project-container .card-title {
        font-size: 20px!important;
    }

    .project-container .card-data p {
        font-size: 14px!important;
    }

    .skills-card {
        display: flex;
        flex-wrap: wrap;
    }

    .skills-card div {
        flex-basis: 100px;
        flex-shrink: 0;
    }

    .skills-card div img {
        padding-top: 20px;
    }

    .education-container .card-title, .certificate-container .card-title {
        font-size: 15px!important;
    }

    .education-container li, .education-container span, .certificate-container p  {
        font-size: 13px!important;
        padding-left: 0!important;
    }

    .card-action {
        font-size: 12px!important;
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding-left: 15px!important;
    }

    .contact-info div {
        flex-basis: 60%;
        height: 100px!important;
        width: 246px!important;
    }

    .contact-info .teal-text {
        padding-left: 0!important;
        font-size: 16px;
    }
}

@media all and (max-width: 360px) {
    #Introduction h2 {
        font-size: 18px!important;
    }

    .education-container .card-title {
        font-size: 14px!important;
    }

    .education-container li, .education-container span {
        font-size: 12px!important;
        padding-left: 0!important;
    }

    .education-container .card-action span {
        font-size: 11px!important;
    }
}