.sidenav {
     width: 200px!important;
}

.logo-name {
     text-decoration: none!important;
     border: 0!important;
     text-align: center!important;
     font-family: sans-serif;
}

.logo-name h1 {
     font-weight: lighter!important;
}

.logo-name-desc {
     font-size: 1.0rem;
     text-decoration: none!important;
     border: 0!important;
     text-align: center!important;
     font-weight: bolder;
}

.section {
     padding-bottom: 30px;
     padding-top: 0;
     position: fixed;
}

ul.sidenav li {
     padding: 0;
}

ul.sidenav-fixed li.logo {
     background-color: #fafafa;
     border-bottom: 1px solid #ddd;
     box-sizing: content-box;
     min-height: 90px;
     padding: 30px 0px 10px;
     text-align: center;
}

.sidenav .user-view {
     margin-bottom: 0!important;
}

.sidenav li>a {
     padding-right: 10px!important;
}

.menu-item {
     text-decoration: none!important;
     text-align: left;
     font-size: 1.0rem!important;
     font-weight: 300!important;
     word-spacing: 20px;
     padding-right: 10px;
}

.sidenav-fixed a.active,
.menu-item a:hover {
     background-color: #fafafa;
     border-left: 3px solid;
     font-weight: 500!important;
}

.toggle-menu-item {
     text-decoration: none!important;
     text-align: left;
     font-family: 'Roboto', sans-serif;
     font-size: 1.0rem!important;
     word-spacing: 10px;
}

ul.sidenav-activate a {
     box-sizing: content-box;
     display: block;
     line-height: 100%;
     padding: 15px 15px 5px 15px;
     font-weight: bold!important;
}

#slide-out {
     margin-top:0;
}

.images {
     display: inline-block;
     margin: 2px 2px;
}

nav.hide-on-small-only, nav.disable-navbar {
     background: white!important;
     box-shadow: none!important;
     height: 0!important;
}

nav.hide-on-large-only {
     background: white;
     height: 64px;
}

.material-icons {
     text-decoration: none!important;
     height: 64px!important;
     line-height: 64px!important;
}
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-36 { font-size: 36px; }

.name-title a {
     padding-top: 15px;
     font-size: 24px;
     display: block;
     text-decoration: none!important;
     font-family: sans-serif;
}

.name-title span {
     display: block;
     font-size: 14px;
     padding-top: 5px;
}

.name-title {
     padding-right: 80px;
     display: block;
     position: relative;
     line-height: 20px;
}

@media (min-width: 993px) {
     .navbar-fixed {
          height: 0;
     }
}